@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #3B3C36;
}

a {
  color: #007FFF;
}
a:visited {
  color: #9932CC;
}
a:active {
  color: #D22B2B;
}